body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.resume-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.left-section {
    background-color: #444;
    color: white;
    padding: 30px;
    width: 30%;
    text-align: center;
}

.right-section {
    padding: 30px;
    width: 70%;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #ffcc00;
}

h2 {
    font-size: 20px;
    margin: 20px 0 10px;
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #ffcc00;
    cursor: pointer;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info p,
.languages p,
.technical-skills p {
    margin: 5px 0;
}

ul {
    padding-left: 20px;
    margin: 10px 0;
}

ul li {
    list-style-type: circle;
    margin-bottom: 5px;
}

.job,
.project {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #ffcc00;
    border: none;
    color: #000;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100px;
}

.filter-buttons button:hover {
    background-color: #ffaa00;
}

@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .filter-buttons button {
        width: 80%;
        margin: 5px auto;
    }
}

.highlight {
    display: inline;
}

.highlight span {
    display: inline-block;
    margin-right: 5px;
    color: #e3cfa7;
    /* tomato */
}

.highlight span:nth-child(2) {
    color: #a9bfd4;
    /* dodgerblue */
}

.highlight span:nth-child(3) {
    color: #9ccf9c;
    /* limegreen */
}

.highlight span:nth-child(4) {
    color: #c9adbc;
    /* deeppink */
}

.highlight span:nth-child(5) {
    color: #dcc69e;
    /* orange */
}

.highlight span:nth-child(6) {
    color: #b096c8;
    /* blueviolet */
}

.highlight span:nth-child(7) {
    color: #ca927d;
    /* orangered */
}

.highlight span:nth-child(8) {
    color: #c7a7c6;
    /* orchid */
}

.highlight span:nth-child(9) {
    color: #addbdb;
    /* darkturquoise */
}

.highlight span:nth-child(10) {
    color: #93c1b1;
    /* aquamarine */
}

.highlight span:nth-child(11) {
    color: #d8aa89;
    /* chocolate */
}

.highlight span:nth-child(12) {
    color: #9eadc9;
    /* cornflowerblue */
}

.highlight span:nth-child(13) {
    color: #c094aa;
    /* hotpink */
}

.highlight span:nth-child(14) {
    color: #b27979;
    /* firebrick */
}

.highlight span:nth-child(15) {
    color: #739473;
    /* forestgreen */
}

.highlight span:nth-child(16) {
    color: #d8d0a3;
    /* gold */
}

.left-section p,
.right-section p,
.left-section ul li,
.right-section ul li {
    color: #dcdcdc;
    /* gainsboro */
}

.left-section h1,
.left-section h2,
.left-section h3,
.right-section h2 {
    color: #e7daa6;
    /* gold */
}

.right-section .job h3 {
    color: #e7ddc9;
    /* orange */
}

.right-section .job ul li {
    color: #dcdcdc;
    /* gainsboro */
}

.right-section .project h3 {
    color: #be8075;
    /* tomato */
}

.right-section .project p {
    color: #a9b8ca;
    /* gainsboro */
}
